.bannerFundo {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    background-color: #000000a9;
    box-shadow: 0 2px 18px 0 var(--azul);
}

.bannerCentral {
    width: 1360px;
    height: 334px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trilhaDestaque {
    border: 3px solid var(--color-frontend);
    border-radius: 10px;
    background-color: var(--color-frontend);
    color: var(--cinza-claro);
    font-size: 48px;
    text-align: center;
}

.titulodestaque {
    font-size: 46px;
    font-weight: 400;
    color: var(--cinza-claro);
}

.descricaoDestaque {
    font-size: 18px;
    font-weight: 400;
    color: var(--cinza-claro);
}