.containerPrincipal {
    background-color: rgba(0, 0, 0, 0.9);
}

.tituloFormulario {
    text-align: center;
    padding: 10px 0;
}

.tituloFormulario h1 {
    font-size: 60px;
    color: var(--cinza-claro);
}

.tituloFormulario h2 {
    font-size: 20px;
    color: var(--cinza-claro);
}