* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --fonte1: 'Source Sans 3', sans-serif;
  --fonte2: 'Roboto', sans-serif;
  --color-frontend: #6BD1FF;
  --color-backend: #00C86F;
  --color-mobile: #FFBA05;
  --preto: #000000;
  --preto-acinzentado: #9E9E9E;
  --branco: #FFFFFF;
  --cinza-claro: #F5F5F5;
  --cinza-medio: #E5E5E5;
  --cinza-escuro: #141414;
  --azul: #2271D1;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}
